Package: com.dvntm.onlygalstv
Name: OnlyGalsTV
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tweak for OmeTV!
Maintainer: dvntm
Author: dvntm
Section: Tweaks
Depends: mobilesubstrate
